* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

$warning: #FFC700;
$primaryDark: #3E4095;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import 'bootstrap/scss/utilities';

$utilities: (
  "opacity": (
    property: opacity,
    responsive: true,
    values: (
      0: 0,
      25: .25,
      50: .5,
      75: .75,
      100: 1,
    )
  )
 );

 @media(max-width: 576px) {
    .carousel-caption {
        padding-top: 0 !important;
    }
    .carousel-item h1 {
        font-size: 10px;
        margin-top: 0 !important;
        margin-bottom: 5px !important;
    }
    .carousel-item h5 {
        font-size: 6px;
        margin-bottom: 0 !important;
    }
    .carousel-item p {
        font-size: 6px;
        margin-bottom: 0;
    }
    .carousel-item .btn-carousel {
        padding: 0.1rem 0.4rem !important;
        font-size: 0.4rem !important;
    }
}


.section-container{
    background-image: url('../../assets/img/carousel1.png');
    background-size: cover;
    width: 100%;
    height: 650px;
    .warding-carousel{
        h1 {
            color: #fff;
            font-weight: bold;
        }
        h5 {
            color: #FFC700;
        }
    }
}

.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
}

.bg-linear-gradient-primary{
    // margin: 30px 0 30px 0;
    background-image: linear-gradient(to top right, #0085FF, #00E0FF);
}

.bg-linear-gradient-semi-primary{
    background-image: linear-gradient(to top right, #FFFFFF, #00D1FF);
}

.accordion {
    .accordion-item {
        border-radius: 25px !important;
    }
    .accordion-button{
        border-radius: 25px !important;
    }
}

.bg-footer {
    background-image: url('../../assets/img/bg-footer.svg');
    background-size: cover;
    width: 100%;
    height: 340px;
    border-bottom: none;
    .content-footer {
        padding-top: 330px;
    }
}

.form-control:focus {
    border-color: $warning !important;
    box-shadow: 0 0 0 0.2rem #fff !important;
} 

.dropdown-toggle::after {
    color: blue;
}

.ccard-main {
    // width: 100%;
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .ccard {
    // width: 20ch;
    // height: 20ch;
    // background: hotpink;
    // border-radius: 5px;
    transition: box-shadow 0.5s;
    will-change: transform;
  }

  .cursor-pointer {
      cursor: pointer;
  }

  
.profile-dropdown {
    .dropdown-toggle{
       padding: 0 !important;
    }
    .dropdown-toggle::after {
        content: none !important;
    }
    
}

.btn-primary-dark {
    background-color: $primaryDark !important;
    border-color: $primaryDark !important;
}

.tabs-package-list{
    .nav-item{
        .active {
            background-color: $primaryDark !important;
            color: #FFFFFF !important;
        }
    }

    li{
        border-radius: 50rem !important;
        button {
            border-radius: 50rem !important;
        }
    }

    // button {
    //     border-radius: 50rem !important;
    // }
}

.img-team:hover {
    transition: 0.5s;
    padding: 0 !important;
}

    .dropdown .dropdown-menu.show{
        display: none !important;
    }
    
    .dropdown:hover .dropdown-menu {
        display: block !important;
    }
    
    .dropdown:focus .dropdown-menu {
        display: block !important;
    }




